.addCart {
  padding: 10px;
  background-color: #1b1a20;
}
.addCart:hover {
  background-color: #c0a81d;
  cursor: pointer;
}

.addCart div {
  color: white;
}

.addCart div:hover {
  /* color: #1d35c0; */
  color: aliceblue;
}

.card {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.cardImg {
  height: 320px;
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.cardTextPrice {
  font-size: 1.5rem;
  font-weight: bold;
}

.productsLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.products.list {
  display: block;
}

.main {
  margin: 50px auto auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-width: 1200px;
}

.chooseSize {
  display: block;
}

.sizeTitle {
  font-weight: bold;
}

.label-talle {
  display: inline-block;
  margin: 5%;
}

.cartButton {
  background-color: #312c2c;
  border-color:#130f0f;
  position: fixed;
  top: 2px;
  right: 2px;  
  width: 50px;
  height: 50px;
}

.btn-group {
  display: inline-block;
}